<div class='w-screen h-screen flex justify-content-center align-items-center'>
  <div class='w-50rem max-w-3xl px-6 flex'>
    <div [formGroup]="formCoster">
      <div class="border-round-md bg-gray-500 shadow-3 sm:rounded-md gap-y-2">
        <div class="card p-3">
          <div class="text-center p-2">
            <span class="text-2xl font-medium">Coster</span>
          </div>
          <div class="formgrid grid">
              <div class="field col-12 md:col-6">
                <label for="costRoll" class=""> Custo Rolo </label>
                <input type="number" formControlName="costRoll" id="costRoll" class="shadow-3 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="units" class=""> Unidades </label>
                <input type="number" formControlName="units" id="units" class="shadow-3 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="yeald" class=""> Rendimento em M</label>
                <input type="number" formControlName="yeald" id="yeald" class="shadow-3 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="yealdPeerKg" class=""> Rendimento por KG</label>
                <input type="number" formControlName="yealdPeerKg" id="yealdPeerKg" class="shadow-3 text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
              </div>
            </div>
            <ng-container *ngTemplateOutlet="nField"></ng-container>
        </div>
          <!-- footer -->
          <div class="bg-gray-700 border-round-bottom-md flex justify-content-between p-3">
            <div class="flex align-items-center">
              <span class="text-base font-medium">Preço : {{result}}</span>
            </div>
            <div class="flex justify-center card column-gap-2">
                <button pButton class="p-button p-button-danger hidden" (click)="formCoster.reset()">Cancelar</button>
                <button pButton class="p-button p-button-success" [disabled]="!formCoster.valid" (click)="calculate()">Calcular</button>
            </div>
          </div>
          <!-- footer -->
      </div>
    </div>
  </div>
</div>

<ng-template #nField>
  <div class="flex justify-content-start align-items-center mb-2">
    <button id="newField" (click)="addField()" class="mr-2 p-button p-button-rounded" pButton icon="pi pi-plus" label="Adicionar novo campo"></button>
  </div>

  <p-scrollPanel *ngIf="addValues.length" [style]="{height : '200px'}">
    <div *ngFor="let item of addValues" class="flex flex-column justify-content-between md:flex-row px-4">
        <div class="justify-content-start align-items-center my-2">
          <button id={{item.id}} (click)="removeField(item)" pButton icon="pi pi-minus" class="p-button p-button-rounded" label="Remover"></button>
        </div>
        <div class="justify-content-end" *ngIf="item.typeOperation">
          <input [(ngModel)]="item.name" type="text" pInputText placeholder="Nome">
          <p-dropdown appendTo="self" [(ngModel)]="item.typeOperation" [options]="operations" optionValue="code"></p-dropdown>
          <p-inputNumber [(ngModel)]="item.cost" placeholder="Valor" [maxFractionDigits]="2"></p-inputNumber>
        </div>
    </div>
  </p-scrollPanel>
</ng-template>




